---
layout: default
title: Home
---

<div class="posts">
  {% for post in site.posts %}
  <div class="post{% if forloop.index > 5 %} post-hidden{% endif %}">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% if post.tags.size > 0 %}
    <span class="post-tags">{{ post.tags | join: ", " }}</span>
    {% endif %}

    {{ post.excerpt }}

    {% if post.content contains '<!--more-->' %}
    <a href="{{ post.url | absolute_url }}" class="read-more">Continue reading &rarr;</a>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% if site.posts.size > 5 %}
<div class="show-more-wrap">
  <button class="show-more-btn" id="show-more-btn">Show more &rarr;</button>
</div>
{% endif %}
